/* CSS Stylesheet */
@font-face {
    font-family: 'Anton';
    src: url('https://fonts.googleapis.com/css2?family=Anton&family=Yellowtail&display=swap" rel="stylesheet');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yellowtail';
    src: url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet');
    font-weight: normal;
    font-style: normal;
}

:root{
    --nav-white: #f0f0f0;
}

*{
    font-family: 'Anton', sans-serif;
}

/* Nav & Link CSS */
#nav-bar{
    width: 70%;
    background: transparent;
    padding: 30px 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#nav-bar-logo{
    width: 125px;
    height: 125px;
}

#nav-menu{
    width: 30%;
    margin: auto;
    flex-direction: row;
}

.nav-link{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link a{
    text-transform: uppercase;
    height: 100%;
    width: 150px;
    font-size: 1.6rem;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--nav-white);
}

.nav-link a:hover{
    font-family: 'Yellowtail', cursive;
    font-size: 2.2rem;
    text-transform: capitalize;
    font-style: italic;
}

.spacer{
    height: 10rem;
}

#page-title{
    color: white;
    font-size: 10rem;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-style: italic;
    margin: 35vh auto 35vh auto;
    /* border: 2px solid red; */
}

#footer-bar{
    width: 100%;
    bottom: 0;
    z-index: 99;
    /* padding-top: 50px; */
    padding-bottom: 30px;
}

.footer-link-list{
    display:flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    text-decoration: none;
}

footer img{
    width: 40px;
    height: auto;
}

/* Large tablet in Landscape mode - Medium browser */
@media screen and (max-width: 1375px){
    .nav-link a{
        font-size: 1.2rem;
    }

    .nav-link a:hover{
        font-size: 1.8rem;
    }

    #page-title{
        font-size: 6rem;
        /* margin: 175px auto 250px auto; */
    }
}

/* Medium & small tablets in Landscape mode - Large tablet in Portrait mode */
@media screen and (max-width: 1200px){
    #page-title{
        font-size: 6rem;
        margin: 30vh auto 35vh auto;
    }
}

@media screen and (max-width: 1050px){
    #page-title{
        font-size: 6rem;
        margin: 35vh auto 40vh auto;
    }
}

/* Medium & small tablets in Portrait mode - Small web browser */
@media screen and (max-width: 875px){
    .nav-link a{
        font-size: 1.0rem;
    }

    .nav-link a:hover{
        font-size: 1.6rem;
    }

    #page-title{
        margin: 35vh auto 40vh auto;
    }
}            

/* Larger mobile phones in Landscape mode */
@media screen and (max-width: 750px){
    .nav-link-list{
        flex-direction: column;
    }    

    #nav-bar-logo{
        width: 100px;
        height: 100px;
    }

    .social-links{
        width: 25px;
    }

    .social-links:hover{
        width: 35px;
    }

    #page-title{
        margin: 15vh auto 20vh auto;
    }
}

/* Small mobile phones in Landscape mode */
@media screen and (max-width: 600px){
    .nav-link a{
        font-size: 1.0rem;
    }

    .nav-link a:hover{
        font-size: 1.6rem;
    }
}

/* Mobile phones in Portrait mode */
@media screen and (max-width: 500px){
    #nav-bar{
        width: 90%;
    }
    
    #nav-logo-container{
        margin: 0 auto;
        /* grid-area: 1/1/2/2; */
    }

    #nav-bar-logo{
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .nav-link a{
        font-size: 0.8rem;
    }

    .nav-link a:hover{
        font-size: 1.4rem;
    }

    #nav-bar-logo{
        margin: 10px;
    }

    #page-title{
        margin: 25vh auto 35vh auto;
    }

    .social-links{
        padding: .4rem;
    }
} 

@media screen and (max-width: 400px){
    #page-title{
        /* margin: 50px auto 50px auto; */
    }
}

@media screen and (max-width: 350px){
    #page-title{
        font-size: 5rem;
        /* margin: 30px auto 50px auto; */
    }
}
