/* CSS Stylesheet */
@font-face {
    font-family: 'Anton';
    src: url('https://fonts.googleapis.com/css2?family=Anton&family=Yellowtail&display=swap" rel="stylesheet');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yellowtail';
    src: url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet');
    font-weight: normal;
    font-style: normal;
}

:root{
    --nav-white: #f0f0f0;
}

*{
    font-family: 'Anton', sans-serif;
}

/* Nav & Link CSS */
#nav-bar{
    width: 70%;
    background: transparent;
    padding: 30px 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#nav-bar-logo{
    width: 125px;
    height: 125px;
}

#nav-menu{
    width: 30%;
    margin: auto;
    flex-direction: row;
}

.nav-link{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-transform: uppercase;
    height: 100%;
    width: 150px;
    font-size: 2.0rem;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--nav-white);
}

a:hover{
    font-family: 'Yellowtail', cursive;
    font-size: 2.4rem;
    text-transform: capitalize;
    font-style: italic;
}

#footer-bar{
    width: 100%;
    bottom: 0;
    z-index: 99;
    /* padding-top: 50px; */
    padding-bottom: 30px;
}

.footer-link-list{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.footer-link-list {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer img{
    width: 40px;
    height: auto;
}

/* Large tablet in Landscape mode - Medium browser */
@media screen and (max-width: 1375px){
    a{
        font-size: 1.4rem;
    }

    a:hover{
        font-size: 1.8rem;
    }
}

/* Medium & small tablets in Landscape mode - Large tablet in Portrait mode */
@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 1150px){
    
}

/* Medium & small tablets in Portrait mode - Small web browser */
@media screen and (max-width: 875px){
    a{
        font-size: 1.0rem;
    }

    a:hover{
        font-size: 2.1rem;
    }
}            

/* Larger mobile phones in Landscape mode */
@media screen and (max-width: 750px){}
    .nav-link-list{
        flex-direction: column;
    }    

    #nav-bar-logo{
        width: 100px;
        height: 100px;
    }

    footer img{
        width: 25px;
    }

    footer img:hover{
        width: 35px;
    }
}

/* Small mobile phones in Landscape mode */
@media screen and (max-width: 600px){

}

/* Mobile phones in Portrait mode */
@media screen and (max-width: 500px){
    #nav-logo-container{
        margin: 0 auto;
        /* grid-area: 1/1/2/2; */
    }

    #nav-bar-logo{
        width: 100px;
        height: 100px;
        margin: 0 2rem;
    }

    a{
        font-size: 0.7rem;
    }

    footer a{
        padding: .4rem;
    }
} 

.spacer{
    height: 10rem;
}

#page-title{
    color: white;
    font-size: 5rem;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-style: italic;
    margin-bottom: 50px;
}